<!DOCTYPE html>
<html lang="Ru">
  <head>
    <title>Blog Olga</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <img src="https://funik.ru/wp-content/uploads/2018/10/17478da42271207e1d86.jpg" width="10%" alt='котики'>
  <h1>Hello, World</h1>
  <%= yield %>
  </body>
</html>
